<ng-container *ngIf="orderAccepted; then orderAcceptedPage; else orderProcessedPage"></ng-container>

<ng-template #orderProcessedPage>
	<div class="order__inner">
		<vui-breadcrumbs [items]="orderStages"
						 [(currentItem)]="currentStage">
		</vui-breadcrumbs>

		<div class="order__main-wrapper">
			<mp-order-state class="order__order-state" [orderModel]="model"
							[currentStage]="currentStage">
			</mp-order-state>

			<div class="order__dynamic-content-wrapper">
				<ng-container [ngSwitch]="currentStage.id">
					<mp-size-input *ngSwitchCase="OrderStage.Size"
								   [(chosenSize)]="model.size"
								   [sizes]="model.dessert.sizes">
					</mp-size-input>

					<mp-addons-input *ngSwitchCase="OrderStage.Addons"
									 [dessertId]="model.dessert.id"
									 [(chosenAddons)]="model.addons"
									 [(extraAddon)]="model.extraAddon">
					</mp-addons-input>

					<mp-date-input *ngSwitchCase="OrderStage.Date"
								   [(chosenDate)]="model.date">
					</mp-date-input>

					<mp-delivery-input *ngSwitchCase="OrderStage.Delivery"
									   [(chosenDelivery)]="model.delivery">
					</mp-delivery-input>

					<mp-contacts-input *ngSwitchCase="OrderStage.Contacts"
									   [(contacts)]="model.contacts">
					</mp-contacts-input>
				</ng-container>
			</div>
			<div class="order__button-group">
				<vui-button class="order__button _back"
							(click)="onBackClick()"
							[content]="resolveBackButtonContent()">
				</vui-button>
				<vui-button class="order__button _next"
							(click)="onNextClick()"
							[content]="resolveNextButtonContent()"
							[disabled]="nextButtonsDisabled()">
				</vui-button>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #orderAcceptedPage>
	<div class="order__inner">
		<p>Ваш заказ принят</p>
		<vui-button class="order__button"
					(click)="navigatorService.redirectTo('')"
					[content]="'Вернуться на главную'">
		</vui-button>
	</div>
</ng-template>
