<div class="assortment__wrapper">
	<div *ngFor="let group of dessertGroupModelsForTemplate"
		 class="assortment__group">

		<h3 class="assortment__group-title">{{group[0]}}</h3>
		<div class="assortment__subgroups">
			<ng-container *ngFor="let subgroup of group[1]">
				<vui-card class="assortment__subgroup-card"
						  [title]="subgroup[0].name"
						  [imagePath]="getImagePath(subgroup[0].imageIds[0])"
						  (click)="subgroupClick(subgroup[0].id)"
						  [focus]="openedSubgroupId === subgroup[0].id">
				</vui-card>
				<div *ngIf="openedSubgroupId === subgroup[0].id" class="assortment__desserts">
					<vui-card *ngFor="let dessert of subgroup[1]"
							  class="assortment__dessert-card"
							  [title]="dessert.name"
							  [imagePath]="getImagePath(dessert.imageIds[0])"
							  (click)="goToDessertInfo(dessert.id)">
					</vui-card>
				</div>
			</ng-container>
		</div>
	</div>
</div>
