<fieldset class="checkbox-group-field__inner">
	<label *ngFor="let item of items" class="checkbox-group-field__label">
		<input class="checkbox-group-field__field"
			   type="checkbox"
			   [checked]="itemChecked(item)"
			   (change)="change(item)">
		<span class="checkbox-group-field__text">{{item.text}}</span>
	</label>
</fieldset>
