<div class="phone-field__inner">
	<span class="phone-field__city-code">{{phoneCode}}</span>
	<div #wrapper class="phone-field__field-wrapper field-wrapper" [ngClass]="{_focus: inFocus}">
		<input #input class="phone-field__field field"
			   [(ngModel)]="value"
			   (focusin)="inFocus = true"
			   (focusout)="inFocus = false"
			   [mask]="'(000)-000-00-00'"
		/>
	</div>
</div>
