<vui-checkbox-group-field [items]="availableAddonsCheckboxItems"
						  [values]="chosenAddonsCheckboxItems"
						  (valuesChange)="checkboxesChange($event)">
</vui-checkbox-group-field>
<div class="addons-input__extra-addon">
	<h3>Особые пожелания можете оставить здесь</h3>
	<vui-text-area-field class="addons-input__field"
						 [value]="extraAddon"
						 (valueChange)="extraAddonFieldChange($event)"
						 [placeholder]="'Ваши пожелания...'">
	</vui-text-area-field>
</div>

