<div class="order-state__inner">
	<h3>Ваш текущий заказ
		<ng-container *ngIf="currentPrice && currentPrice !== 0">
			: {{currentPrice}}₽
		</ng-container>
		<!-- TODO question sign with tooltip instead of just text -->
		<ng-container *ngIf="orderModel.extraAddon">
			(цена без учета особых пожеланий)
		</ng-container>
	</h3>
	<vui-linked-block-group [templates]="templatesToShow">
	</vui-linked-block-group>
</div>


<ng-template #dessert>
	<ng-container *ngIf="orderModel.dessert">
		{{orderModel.dessert.name}}
		<div class="order-state__dessert-image"
			 [ngStyle]="{'background-image': dessertImageUrl}">
		</div>
	</ng-container>
</ng-template>

<ng-template #size>
	<ng-container *ngIf="orderModel.size">
		{{orderModel.size.name}}
	</ng-container>
</ng-template>

<ng-template #addons>
	<ng-container *ngIf="orderModel.addons || orderModel.extraAddon">
		<div class="order-state__addon" *ngFor="let addon of orderModel.addons">
			{{addon.description}}<br>
		</div>
		<div *ngIf="orderModel.extraAddon" class="order-state__addon">
			{{orderModel.extraAddon}}
		</div>
	</ng-container>
</ng-template>

<ng-template #date>
	<ng-container *ngIf="orderModel.date">
		{{orderModel.date | date: 'dd/MM/yy'}}
	</ng-container>
</ng-template>

<ng-template #delivery>
	<ng-container *ngIf="orderModel.delivery">
		{{orderModel.delivery.text}}
	</ng-container>
</ng-template>

<ng-template #contacts>
	<ng-container *ngIf="orderModel.contacts">
		{{orderModel.contacts.phone}}
		{{orderModel.contacts.email}}
	</ng-container>
</ng-template>
