<footer class="footer">
	<h3>Мы рады когда Вам вкусно!</h3>
	<div class="footer__about">
		<p>Казань {{getCurrentYear()}}</p>
		<p>Сайт сделан <a [href]="createrUrl">@alexei.vedder</a></p>
	</div>
</footer>
