<section class="title-section">
	<div class="title-section__background"></div>
	<div class="title-section__content">
		<h2>Самые вкусные торты для Вас</h2>
		<div>
			<p>Здесь вы можете закать десерты на ваше мероприятие или просто побаловать себя</p>
			<p>В декоре тортов не используется сладкая масса (мастика), только натуральные компоненты</p>
		</div>
	</div>
</section>

<section class="assortment" id="assortment">
	<h2 class="assortment__section-title section-title">Ассортимент</h2>
	<mp-assortment></mp-assortment>
</section>

<section class="available-dates" id="available-dates"></section>

<section class="feedback" id="feedback"></section>

<section class="contacts" id="contacts">
	<h2 class="contacts__section-title section-title">Контакты</h2>
	<div class="contacts__inner">
		<ng-container *ngFor="let contact of contacts">
			<p class="contacts__item">
				{{contact.service}}:
				<ng-container *ngIf="contact.link; else linklessContactValue">
					<a href="{{contact.link}}">{{contact.value}}</a>
				</ng-container>
				<ng-template #linklessContactValue>
					{{contact.value}}
				</ng-template>
			</p>
		</ng-container>
	</div>

</section>
