<div class="calendar__inner">
	<nav class="calendar__head">
		<div class="calendar__prev" (click)="decrementMonth()"></div>
		<p class="calendar__current-month-year" (click)="returnToCurrentMonth()">{{getLocalizedViewDate()}}</p>
		<div class="calendar__next" (click)="incrementMonth()"></div>
	</nav>

	<div class="calendar__body">
		<table>
			<thead>
			<tr>
				<th>{{getLocalizedDayOfWeek(1)}}</th>
				<th>{{getLocalizedDayOfWeek(2)}}</th>
				<th>{{getLocalizedDayOfWeek(3)}}</th>
				<th>{{getLocalizedDayOfWeek(4)}}</th>
				<th>{{getLocalizedDayOfWeek(5)}}</th>
				<th>{{getLocalizedDayOfWeek(6)}}</th>
				<th>{{getLocalizedDayOfWeek(0)}}</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let week of viewDateWeeks">
				<td *ngFor="let day of week"
					[ngClass]="{
					_disabled: (day.getMonth() !== viewDate.getMonth()) || !dateValid(day),
					_active: activeDate && activeDate.toDateString() === day.toDateString(),
					_today: today(day)
					}"
					(click)="dayClick(day)">
					{{day.getDate()}}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
