<div class="card" [ngClass]="{_focus: focus}">
	<div class="card__title">
		<h5>{{title}}</h5>
	</div>
	<div #image class="card__image" [ngStyle]="{'background-image': imagePathUrl}"></div>
</div>
