<ul class="breadcrumb">
	<li *ngFor="let item of items"
		[ngClass]="{
			_current: item === currentItem,
			_locked: !item.active
		}"
		(click)="onCurrentItemChange(item)">
		<span>{{item.id}}</span>
		{{item.name}}
	</li>
</ul>
