<header class="header" id="header">
	<div class="header__logo" (click)="redirectTo('')">Dessert World</div>

	<nav class="header__navbar">
		<ng-container *ngIf="burgerMenu; else menu">
			<div class="header__burger-menu burger-menu" (click)="burgerMenuClick()">
				<div class="burger-menu__layer first"></div>
				<div class="burger-menu__layer second"></div>
				<div class="burger-menu__layer third"></div>
			</div>
			<div class="header__burger-menu-wrapper">
				<ng-container *ngIf="burgerMenuOpened; then menu"></ng-container>
			</div>
		</ng-container>
	</nav>
</header>


<ng-template #menu>
	<ul class="header__menu">
		<li class="header__menu-item"
			(click)="redirectTo('', 'assortment')">
			Ассортимент
		</li>

		<!-- TODO <li class="header__navbar-item">Календарь</li>-->
		<!-- TODO <li class="header__navbar-item">Отзывы</li>-->

		<li class="header__menu-item"
			(click)="redirectTo('', 'contacts')">
			Контакты
		</li>

		<li class="header__menu-item"
			(click)="redirectTo('about')">
			О кондитере
		</li>
	</ul>
</ng-template>
