<div class="dessert-info__inner">
	<div class="dessert-info__wrapper">
		<h2 class="dessert-info__title">{{dessert.name}}</h2>
	</div>
	<div class="dessert-info__wrapper">
		<div class="dessert-info__slider">
			<mp-carousel [imageIds]="dessert.imageIds"></mp-carousel>
		</div>
		<div class="dessert-info__text-block">
			<p class="dessert-info__description">
				{{dessert.description}}
			</p>
			<div class="dessert-info__ingredients">
				Состав:
				<ul>
					<li *ngFor="let ingredient of dessert.ingredients">{{ingredient}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="dessert-info__wrapper">
		<vui-button (click)="goToOrder()"
					class="dessert-info__order-button"
					[content]="'Хочу!'">
		</vui-button>
	</div>
</div>
