@back-to-top-margin: 80px;

.app {
	&__inner {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	&__main {
		min-height: calc(100vh - @header-height - @footer-height);
		background: @color-brightest;
	}

	&__back-to-top-button {
		display: none;
		position: sticky;
		width: fit-content;
		margin-top: -@back-to-top-margin;
		margin-left: auto;
		justify-content: flex-end;
		right: @back-to-top-margin;
		bottom: @back-to-top-margin;
		z-index: 3;

		& .button__inner {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			border-width: 4px;
			font-size: 40px;

			&:hover > i {
				color: @color-brightest;
			}
		}

		&._enabled {
			display: flex;
		}
	}
}
