.assortment {

	& vui-card {
		flex-basis: 20%;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__group {
	}

	&__group-title {
		padding: 20px 40px;
		font-size: 25px;
	}

	&__subgroups {
		display: flex;
		flex-flow: row wrap;
		margin: 0 auto;
	}

	&__subgroup-card {
	}

	&__desserts {
		display: flex;
		flex-flow: row wrap;
		flex-basis: 100%;
		background-color: @color-bright;
		border-radius: 2 * @border-radius;
	}

	&__dessert-card {
	}
}

@media (max-width: 500px) {
	.assortment {
		& vui-card {
			flex-basis: 100% / 1.5;
		}

		&__subgroups,
		&__desserts {
			justify-content: center;
		}
	}
}

@media (min-width: 500px) and (max-width: 700px) {
	.assortment {
		& vui-card {
			flex-basis: 50%;
		}
	}
}

@media (min-width: 700px) and (max-width: 1000px) {
	.assortment {
		& vui-card {
			flex-basis: 100% / 3;
		}
	}
}

@media (min-width: 1000px) and (max-width: 1400px)  {
	.assortment {
		& vui-card {
			flex-basis: 25%;
		}
	}
}
