@vui-color-breadcrumb-main: #3498db;
@vui-color-breadcrumb-hover: #1abc9c;
@vui-color-breadcrumb-locked: palegoldenrod;
@vui-color-breadcrumb-current: blue;

.breadcrumb {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px 0 20px 40px;

	& li {
		cursor: pointer;
		color: white;
		background: @vui-color-breadcrumb-main;
		text-decoration: none;
		position: relative;
		height: 40px;
		line-height: 40px;
		padding: 0 10px 0 5px;
		margin: 10px 27px 0 0;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			border: 0 solid;
			border-width: 20px 10px;
			width: 0;
			height: 0;
		}

		&::before {
			left: -20px;
			border-color: @vui-color-breadcrumb-main;
			border-left-color: transparent;
		}

		&::after {
			left: 100%;
			border-color: transparent;
			border-left-color: @vui-color-breadcrumb-main;
		}

		&:hover {
			background-color: @vui-color-breadcrumb-hover;
		}

		&:hover::before {
			border-color: @vui-color-breadcrumb-hover;
			border-left-color: transparent;
		}

		&:hover::after {
			border-left-color: @vui-color-breadcrumb-hover;
		}

		& span {
			border: solid;
			border-radius: 100%;
			width: 20px;
			height: 20px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin: 8px 8px 8px 0;
		}

		&._locked {
			background: @vui-color-breadcrumb-locked;

			&::after {
				border-color: transparent;
				border-left-color: @vui-color-breadcrumb-locked;
			}

			&::before {
				border-color: @vui-color-breadcrumb-locked;
				border-left-color: transparent;
			}
		}

		&._current {
			background: @vui-color-breadcrumb-current;

			&::after {
				border-color: transparent;
				border-left-color: @vui-color-breadcrumb-current;
			}

			&::before {
				border-color: @vui-color-breadcrumb-current;
				border-left-color: transparent;
			}
		}
	}
}
