.button {
	&__inner {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: @vui-color-dark;
		border-radius: @vui-field-border-radius;
		font-size: 18px;
		border: 2px solid @vui-color-dark;
		text-decoration: none;
		transition-duration: @vui-transition-duration;
		cursor: pointer;

		&:hover {
			background: @vui-color-dark;
			color: @vui-color-brightest;
		}

		&._disabled {
			color: @vui-color-brightest;
			border-color: @vui-color-dark;

			&:hover {
				background: @vui-color-brightest;
			}
		}
	}
}
