@vui-calendar-spacing: 15px;
@vui-calendar-cell-border-radius: 5px;

@vui-color-calendar: grey;
@vui-color-calendar-2: cornsilk;
@vui-color-calendar-today: red;
@vui-color-calendar-disabled: darkgray;
@vui-color-calendar-active: green;
@vui-color-calendar-active-2: darkseagreen;

@vui-arrow-edge-length: 20px;
@vui-arrow-block-a-length: @vui-arrow-edge-length / sqrt(2);
@vui-arrow-block-b-length: @vui-arrow-edge-length * sqrt(2);
@vui-arrow-margin: @vui-arrow-edge-length * (sqrt(2) - 1) / 2;

.calendar {

	&__inner {
		border: solid @vui-color-calendar;
		border-radius: @vui-border-radius;
		background-color: @vui-color-calendar-2;
		padding: @vui-calendar-spacing;
	}

	&__prev,
	&__next {
		display: flex;
		justify-content: center;
		overflow: hidden;
		position: relative;

		flex-direction: column;
		height: @vui-arrow-block-b-length;
		width: @vui-arrow-block-a-length;

		&::before {
			content: "";
			box-sizing: border-box;
			border: solid @vui-color-calendar 2px;
			display: block;
			width: @vui-arrow-edge-length;
			height: @vui-arrow-edge-length;
			position: absolute;
			transform: rotate(45deg);
		}
	}

	&__prev {
		&::before {
			left: @vui-arrow-margin;
		}
	}

	&__next {
		&::before {
			right: @vui-arrow-margin;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: @vui-calendar-spacing;
		position: relative;

		& .calendar__prev,
		& .calendar__next,
		& .calendar__current-month-year {
			cursor: pointer;
		}

		& .calendar__current-month-year {
			display: flex;
			align-items: center;
			font-weight: bold;
			font-size: larger;
		}
	}

	&__body {

		border: solid @vui-color-calendar;
		border-radius: @vui-border-radius;
		padding: @vui-calendar-spacing;

		& td,
		& th {
			width: 30px;
			height: 30px;
			text-align: center;
		}

		& th {
			cursor: default;
		}

		& td {
			cursor: pointer;
			border: solid;
			border-radius: @vui-calendar-cell-border-radius;
			transition-duration: @vui-transition-duration;
		}

		/**
		 *	NOTE: the order of modifiers is important!
		 */

		& ._active {
			color: @vui-color-calendar-active;
			background: @vui-color-calendar-active-2;
			transform: scale(1.3);
		}

		& ._disabled {
			color: @vui-color-calendar-disabled;
		}

		& ._today {
			border: solid @vui-color-calendar-today;
		}
	}
}
