.focus {

}

.card {
	position: relative;
	overflow: hidden;
	margin: 7%;
	transition: @vui-transition-duration;
	border-radius: @vui-border-radius;

	&:hover,
	&._focus {
		box-shadow: @vui-box-shadow;
		transform: scale(1.05);
	}

	&__title {
		background: rgba(245, 245, 220, 0.8);
		top: 0;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 25%;
		width: 100%;
		font-size: x-large;

		opacity: 0;
		transform: translateY(-100%);
		transition: @vui-transition-duration;
		z-index: 2;
	}

	&:hover > &__title,
	&._focus > &__title {
		transform: translateY(0);
		opacity: 1;
	}

	&:hover > &__image,
	&._focus > &__image {
		transition: @vui-transition-duration;
		filter: grayscale(24%) brightness(72%);
	}

	& > h5 {
		font-size: 20px;
		color: gold;
	}

	&__image {
		cursor: pointer;
		display: block;
		width: 100%;
		transition: @vui-transition-duration;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
