.checkbox-group-field {
	&__inner {
		display: flex;
		flex-direction: column;
		border: solid 2px @vui-color-brightest;
		border-radius: @vui-field-border-radius;
	}

	&__label {
		display: flex;
		align-items: center;
		padding: @vui-field-spacing;
	}

	&__text {
		margin-left: @vui-field-spacing;
	}
}
