.date-selection {
	&__inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}

	&__calendar {
	}

	&__chosen-date {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 30px;
		min-width: 160px;
		min-height: 65px;

		&-label {
			font-size: medium;
		}

		&-value {
			font-size: larger;
			border: solid;
			border-radius: @border-radius;
			padding: 10px;
		}
	}
}
