.dessert-info {

	&__inner {
		background: @color-brightest;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-height: @expected-screen-height - @header-height;
	}

	&__wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		border: solid;
		margin: 20px 0;
	}

	&__title {
	}

	&__slider {
		width: 600px;
		height: 300px;
		border: solid;
		padding: 25px;
	}

	&__text-block {
		width: 600px;
		height: 300px;
		border: solid;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-size: 20px;
		padding: 25px;
		font-weight: 600;
	}

	&__order-button {
		font-size: x-large;
	}

	&__ingredients {

		& > ul {
			list-style-type: none;
		}
	}

}
