.footer {
	height: @footer-height;
	background: @color-bright;
	color: @color-dark;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	&__about {
		display: flex;
		justify-content: space-between;
		width: 100%;

		& > p {
			margin: 0 30px;
		}
	}
}
