.header {
	display: flex;
	justify-content: space-between;
	height: @header-height;
	background: @color-bright;
	box-shadow: @box-shadow;
	position: relative;

	&__logo {
		color: @color-dark;
		font-size: 50px;
		margin: 0 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&__navbar {
		display: flex;
		align-items: center;
		margin: 0 50px 0 0;
	}

	&__menu {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;

		.header__burger-menu-wrapper & {
			flex-direction: column;
		}
	}

	&__burger-menu-wrapper {
		position: absolute;
		background-color: @color-bright;
		z-index: 1;
		top: @header-height;
		left: 0;
		right: 0;
	}

	&__menu-item {
		display: block;
		cursor: pointer;
		margin: 0 15px;
		color: @color-dark;
		font-size: larger;

		.header__burger-menu-wrapper & {
			margin: 25px 0;
		}
	}

	&__burger-menu {
	}
}

.burger-menu {

	width: 45px;
	height: 45px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;

	&__layer {
		width: 45px;
		height: 5px;
		background: @color-dark;
	}
}
