@vui-linked-block-spacing: 7px;
@vui-linked-block-border-width: 2px;

.linked-block-group {

	mp-order-state & {
		&__block {
			text-align: center;
			font-size: medium;
			max-width: 300px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__block {
		position: relative;
		cursor: default;
		border: solid @vui-linked-block-border-width @vui-color-dark;
		border-radius: @vui-border-radius;
		margin-top: @vui-linked-block-spacing;
		padding: @vui-linked-block-spacing;
		width: fit-content;

		&::after {
			position: absolute;
			content: "";
			background-color: @vui-color-dark;
			border-style: solid;
			border-width: @vui-linked-block-border-width / 2;
			border-color: @vui-color-dark;
			height: @vui-linked-block-spacing;
			top: -@vui-linked-block-spacing - @vui-linked-block-border-width;
			left: 50%;
		}

		&:first-child::after {
			display: none;
		}
	}
}
