mp-main-page-content > section {
	padding: 0 20px;
}

.section-title {
	padding: 30px 40px;
}

.title-section {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: @expected-screen-height - @header-height;

	&__background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../../../images/title-section-background.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		filter: sepia(25%) blur(2px) brightness(50%) saturate(150%)
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;


		& > h2 {
			color: @color-bright;
			font-size: 45px;
			width: 75%;
		}

		& > div {
			font-size: 32px;
			width: 75%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			min-height: 200px;

			& > p {
				color: @color-bright;
			}

			@media (max-width: 480px) {
				font-size: 18px;
			}

			@media (max-width: 260px) {
				font-size: 14px;
			}
		}
	}
}

.assortment {
	background: @color-brightest;

	&__section-title {
	}
}

.contacts {
	background: @color-brightest;

	&__inner {

		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: space-around;
		height: fit-content;
		padding: 30px;

		@media (max-width: 675px) {
			text-align: center;
		}
	}

	&__item {
		width: 40%;
		font-size: 20px;
		margin: 30px;

		@media (max-width: 675px) {
			width: 100%;
		}
	}
}
