.order {
	&__inner {
		display: flex;
		flex-direction: column;
		min-height: @expected-screen-height - @header-height;
	}

	&__main-wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	&__order-state {
		padding: 20px;
		margin: 30px;
		width: 350px;
		height: fit-content;
		max-height: 400px;
		overflow-y: auto;
	}

	&__dynamic-content-wrapper {
		width: 600px;
		height: 400px;
		margin: 30px;
		padding: 20px;
		overflow-y: auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (max-width: 638px) {
			height: 520px;
		}

		& > * {
			width: fit-content;
		}
	}

	&__button-group {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		margin: auto 0 30px 0;
	}

	&__button {
		margin: 0 30px;

		&._next {
			margin-left: 0;
		}
	}
}
