.order-state {

	&__inner {
		& > h3 {
			text-align: center;
		}
	}

	&__addon {
		border: solid 1px;
		border-radius: @border-radius;
		padding: 5px;
		width: fit-content;
		word-break: break-word;

		&:not(:first-child) {
			margin-top: 5px;
		}
	}

	&__dessert-image {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		width: 100px;
		height: 100px;
		margin: 10px;
		border-radius: @vui-border-radius;
	}
}
