.phone-field {
	&__inner {
		display: flex;
		align-items: center;
	}

	&__city-code {
		margin-right: 5px;
		font-size: 22px;
		border-radius: @vui-border-radius;
		border: 2px solid @color-brightest;
		padding: 5px;
	}

	&__field {
		width: 220px;
	}
}
