@container-margin: 30px;
@container-padding: 10px;
@button-diameter: 50px;

.size-selection {
	&__inner {
		width: 280px;
	}

	&__button-group {
		display: flex;
		justify-content: space-between;
		margin: @container-margin;
		//padding: @container-padding;
	}

	&__button {
		cursor: pointer;
		width: @button-diameter;
		height: @button-diameter;
		border: solid;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: @transition-duration;

		&._active {
			background: @color-bright;
			transform: scale(1.5);
			box-shadow: @box-shadow;
		}
	}

	&__info-block {
		background: @color-bright;
		position: relative;
		margin: @container-margin;
		padding: @container-padding;
		border-radius: 8px;
		box-shadow: @box-shadow;
	}

	&__arrow {
		top: calc(-@arrow-block-a-length);
		box-sizing: border-box;
		display: flex;
		width: @arrow-block-b-length;
		height: @arrow-block-a-length;
		overflow: hidden;
		position: absolute;
		justify-content: center;
		transition: @transition-duration;

		&::before {
			background: @color-bright;
			box-sizing: border-box;
			content: "";
			display: block;
			width: @arrow-edge-length;
			height: @arrow-edge-length;
			position: absolute;
			transform: rotate(45deg);
			top: @arrow-margin;
		}

		&._left {
			left: calc(@button-diameter / 2 - @arrow-block-b-length / 2);
		}

		&._center {
			left: calc(50% - @arrow-block-b-length / 2);
		}

		&._right {
			left: calc(100% - @arrow-block-b-length / 2 - @button-diameter / 2);
		}
	}
}
