textarea {
	border: none;
	overflow: auto;
	outline: none;
	box-shadow: none;
	resize: none;
	margin: 0;
	border: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
	font-family: @font-family;
}

textarea.field.text-area-field {
	&__field {
		width: 100%;
		min-height: 70px;
		padding: 7px 10px;
	}
}
