<fieldset class="radio-group-field__inner">
	<label *ngFor="let item of items" class="radio-group-field__label">
		<input class="radio-group-field__field"
			   type="radio"
			   [attr.name]="name"
			   [checked]="itemChecked(item)"
			   (change)="change(item)">
		<span class="radio-group-field__text">{{item.text}}</span>
	</label>
</fieldset>
