<div class="linked-block-group__inner">
	<div class="linked-block-group__block" *ngFor="let template of templates">
		<ng-container *ngTemplateOutlet="template; context: context"></ng-container>
	</div>
</div>
