<div class="date-selection__inner">
	<vui-calendar class="date-selection__calendar"
                  [(chosenDate)]="chosenDate"
                  [locale]="locale"
                  [unavailableDates]="unavailableDates"
                  [minDate]="minAvailableDate">
	</vui-calendar>
	<div class="date-selection__chosen-date">
		<p class="date-selection__chosen-date-label">Выбранная дата:</p>
		<p *ngIf="formattedChosenDate" class="date-selection__chosen-date-value">{{formattedChosenDate}}</p>
	</div>
</div>
