<div class="size-selection__inner">
	<div class="size-selection__button-group">
		<div class="size-selection__button"
			 [ngClass]="{'_active': chosenSize.size === 'small'}"
			 (click)="sizeClick('small')">{{findSizeName('small')}}
		</div>
		<div class="size-selection__button"
			 [ngClass]="{'_active': chosenSize.size === 'medium'}"
			 (click)="sizeClick('medium')">{{findSizeName('medium')}}
		</div>
		<div class="size-selection__button"
			 [ngClass]="{'_active': chosenSize.size === 'large'}"
			 (click)="sizeClick('large')">{{findSizeName('large')}}
		</div>
	</div>

	<div class="size-selection__info-block">
		<div class="size-selection__arrow"
			 [ngClass]="{
				'_left': chosenSize.size === 'small',
				'_center': chosenSize.size === 'medium',
				'_right': chosenSize.size === 'large'
				}">
		</div>

		<ng-container *ngIf="chosenSize.mass">
			<p>Масса: {{chosenSize.mass}} кг</p>
			<hr>
		</ng-container>

		<ng-container *ngIf="chosenSize.diameter">
			<p>Диамерт: {{chosenSize.diameter}} см</p>
			<hr>
		</ng-container>

		<ng-container *ngIf="chosenSize.number">
			<p>Количество: {{chosenSize.number}} штук</p>
			<hr>
		</ng-container>

		<ng-container *ngIf="chosenSize.price">
			<p>Цена: {{chosenSize.price}} &#8381;</p>
		</ng-container>

	</div>
</div>
