<div class="contacts-input__inner">
	<form class="contacts-input__form">
		<label>
			Телефон
			<vui-phone-field [phoneCode]="phoneCode"
							 [(value)]="contacts.phone">
			</vui-phone-field>
		</label>
		<label>
			Электронная почта
			<vui-email-field [(value)]="contacts.email"></vui-email-field>
		</label>
	</form>
</div>
