* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	color: @color-dark;
	font-family: @font-family;

	&:focus {
		outline: none;
	}

	&::after, &::before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-width: @min-screen-width;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

.field-wrapper {
	position: relative;
	cursor: pointer;

	& .field {
		height: 40px;
		font-size: 16px;
		border: solid 2px @color-brightest;
		border-radius: @vui-border-radius;
		padding: 0 10px;
	}

	&::after {
		position: absolute;
		content: "";
		top: @vui-outline-margin;
		bottom: @vui-outline-margin;
		left: @vui-outline-margin;
		right: @vui-outline-margin;
		border: solid 2px palegreen;
		border-radius: 1.5 * @vui-border-radius;
		transition: 0.15s;
		opacity: 0;
	}

	&._focus::after {
		opacity: 1;
	}
}
