@font-family: 'Nunito', sans-serif;

@header-height: 100px;
@footer-height: 150px;
@expected-screen-height: 610px;
@min-screen-width: 550px;

@transition-duration: 0.3s;

@color-brightest: #FFFFEB;
@color-bright: #ffefad;
@color-dark: #8d3001;

@arrow-edge-length: 20px;
@arrow-block-a-length: @arrow-edge-length / sqrt(2);
@arrow-block-b-length: @arrow-edge-length * sqrt(2);
@arrow-margin: @arrow-edge-length * (sqrt(2) - 1) / 2;

@box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .22);
// @box-shadow-light: 0 5px 25px 0 rgba(5, 5, 5, 0.2);

@border-radius: 8px;

/** VUI vars */

@vui-transition-duration: @transition-duration;
@vui-border-radius: @border-radius;
@vui-box-shadow: @box-shadow;
@vui-outline-margin: -4px;

@vui-field-spacing: 10px;
@vui-field-border-radius: 8px;

@vui-color-brightest: @color-brightest;
@vui-color-bright: @color-bright;
@vui-color-dark: @color-dark;
