<div class="app__inner">
	<mp-header></mp-header>
	<main class="app__main">
		<router-outlet></router-outlet>
	</main>
	<mp-footer></mp-footer>
</div>
<vui-button class="app__back-to-top-button" [ngClass]="{_enabled: backToTopShown}"
			(click)="backToTop()">
	<i class="fas fa-arrow-up"></i>
</vui-button>
