<div #wrapper class="text-area-field__field-wrapper field-wrapper"
	 [ngClass]="{_focus: inFocus}">
	<textarea #input class="text-area-field__field field"
			  [(ngModel)]="value"
			  [placeholder]="placeholder"
			  (focusin)="inFocus = true"
			  (focusout)="inFocus = false">
	</textarea>
</div>
